.b-actions {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.b-actions__item {
	margin: 0 10px 0 0;
	float: left;
}

.b-actions__link {
	text-decoration: none;
}

.b-actions__icon, 
.b-actions__link-text {
	display: inline-block;
	vertical-align: middle;
}


*:first-child+html .b-actions__icon, 
*:first-child+html .b-actions__link-text {
	display: inline;
}

.b-actions__icon {
	width: 14px;
	height: 14px;
	background: url(/admin/images/icons.png);
	opacity: .8;
	filter: alpha(opacity=80);
}

.b-actions__icon:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.b-actions__icon_icon_edit {
	background-position: 0 -72px;
}

.b-actions__icon_icon_view {
	background-position: -96px -120px;	
}

.b-actions__icon_icon_delete {
	background-position: -312px 0;	
}

.b-actions__icon_icon_add {
	background-position: 0 -96px;	
}

.b-actions__icon_icon_select-all {
    background-position: -240px 0;
}

.b-actions__icon_icon_unselect {
    background-position: -144px -72px;
}

.b-actions__link-text {
	text-decoration: none;
	color: #666;
	font-size: 11px;
	line-height: 11px;
	border-bottom: 1px solid #ccc;
}

.b-actions__link:hover .b-actions__link-text {
	color: #000;
	border-bottom: 1px solid #666;
}